@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* Top Banner */
#banner {
  background-image: url('../images/portfolio-banner.png');
  max-width: 100%;
  height: auto;
}

#banner-text {
  color: white;
}

/* Navigation Bar */
#navbar-items {
  font-weight: 500;
}

/* Page Rendering Section */
.page-area {
  padding: 2rem;
}

/* About Me Page */
#about-section {
  margin: 2rem;
}

#welcome-image {
  max-width: 100%;
  height: auto;
}

.about-card {
  margin-bottom: 1rem;
  border: 0;
}

.about-icons {
  display: flex;
  justify-content: center;
}

.about-mini-cards {
  display: flex;
  text-align: center;
}

/* Portfolio Page */
.project-card {
  border: 0;
}

.portfolio-icons {
  margin: 1rem;
}

#portfolio-i {
  border-radius: 10px;
}

#portfolio-i:hover {
  background-color: #D6E7EF;
}

/* Contact Page */
#contact-card {
  border: 0
}